.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(222, 26%, 31%);
  position: relative;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  position: absolute;
  bottom: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }
